* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --color-margin: #BFBFBF;
    --color-bgc: #F7F7F7;
    --color-line: #B1B1B1;
    --color-font: #3C3C3C;
    --color-ok: #6CA63A;
    --color-x: #CE2E2E;
}

button, input {
    font-size: 1.2rem;
}

body {
    background-color: #fff;
    font-size: 1.5rem;
}

.header {
    text-align: center;
    border-bottom:2px solid var(--color-margin);
}

.header > h1 {
    font-size: 3.5rem;
    color: var(--color-font);
    padding: 1rem 0;
}

main {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.items {
    margin: auto;
}

.adicionar, .item{
    margin: auto;
    display: flex;

    background-color: var(--color-bgc);
    border:2px solid var(--color-margin);
    border-radius: 10px;
    padding: 10px 15px;
    align-items: center;
    min-width: 400px;
}

.items {
    min-width: 400px;
}

.adicionar > input{
    border: none;
    outline: none;

    border-bottom:1px solid var(--color-margin);
    margin-right: 5px;
    background-color: transparent;
    padding: 0 5px;
    flex: 1;
}

.item > .text {
    flex: 1;
}

.adicionar > button {
    border: none;
    padding: 8px 16px;
    background-color: var(--color-ok);
    color: var(--color-bgc);
    border-radius: 10px;
    box-shadow: 2px 3px 4px #88888888;
    cursor: pointer;
}

.item > button {
    border: none;
    padding: 8px 16px;
    background-color: var(--color-x);
    color: var(--color-bgc);
    border-radius: 10px;
    box-shadow: 2px 3px 4px #88888888;
    cursor: pointer;
}

.item > button:hover {
    background-color: #CE2E2Eee;
}

.adicionar > button:hover {
    background-color: #6CA63Aee;
}